@{
    ViewData["Title"] = "Home Page";
}
@model IndexVm

<table>
    @foreach(var pool in Model.Pools)
    {
        <tr>
            <td><a asp-controller="swimmingpool" asp-action="index" asp-route-id="@pool.Id">@pool.Name</a></td>
            <td>@pool.Location</td>
            <td><a asp-controller="Swimmingpool" asp-action="Edit" asp-route-id="@pool.Id">Edytuj</a></td>
        </tr>
    }
</table>

<a asp-controller="Swimmingpool" asp-action="Add">Dodaj</a>
