@{
    ViewData["Title"] = "Home Page";
}
@model IndexVm

<partial name="_ClientsPartial.cshtml" for="ClientsVM">

<h3>Baseny</h3>
<table class="table table-bordered table-striped">
    <tr>
        <th>Nazwa</th>
        <th>Lokalizacja</th>
        <th>Akcje</th>
    </tr>
    @foreach(var pool in Model.Pools)
    {
        <tr>
            <td><a asp-controller="swimmingpool" asp-action="index" asp-route-id="@pool.Id">@pool.Name</a></td>
            <td>@pool.Location</td>
            <td><a asp-controller="Swimmingpool" asp-action="Edit" asp-route-id="@pool.Id">Edytuj</a></td>
        </tr>
    }
</table>

<div>
    <a asp-controller="Swimmingpool" asp-action="Add">Dodaj basen</a>
</div>

<div>
    <a asp-controller="Reservation" asp-action="Add">Dodaj rezerwację</a>
</div>

<script>
    function onClientsPartialLoad(){
        $(".page-link").on("click", function(e){
            e.preventDefault();
            const page = $(this).data("page");

            $.ajax({
                url: "/home/ClientsPartial",
                method: "get",
                data: { page: page }
            }).done((data) => {
                $(".clientsTable").html(data);
                onClientsPartialLoad();
            })
        })
    }
    onClientsPartialLoad();
</script>